{% extends 'MainApp/base.html' %}

 {% block page_header %}
 <h3>{{ topic }}</h3>
{% endblock page_header %}
  
  {% block content %}
  <p>
   <a href="{% url 'MainApp:new_entry' topic.id %}">Add new entry</a>
 </p>
{% for entry in entries %}

<!--create a div element with the selector card-->
  <div class="card mb-3">

<!--header-->
<h4 class="card-header">
{{ entry.date_added|date:'M d, Y H:i' }}
  <small><a href="{% url 'MainApp:edit_entry' entry.id %}">
   edit entry</a></small>
 </h4>

<!--places the text of the entry in a simple box on the card-->
<div class="card-body">
   {{ entry.text|linebreaks }}
 </div>
   </div>
 {% empty %}
   <p>There are no entries for this topic yet.</p>
 {% endfor %}
 {% endblock content %}

